<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">GlassPlace</a>
            <ul class="nav pull-right">

                <div id="signinButton">
				  <span class="g-signin"
                        data-scope="https://www.googleapis.com/auth/glass.timeline https://www.googleapis.com/auth/userinfo.profile"
                        data-clientid="340409559435.apps.googleusercontent.com"
                        data-accesstype="offline"
                        data-approvalprompt="force"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback">
					</span>
                </div>
                <div id="profile" class="nav dropdown">
                    <img id="avatar" />
                </div>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*
   * Step 3: Include the Google+ script on your page
   */
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
<div class="container">
    <div class="hero-unit">

		{{outlet}}
    </div>
</div>