/* Put your CSS here */
html, body {
    margin: 40px;
}

.navbar .container { height: 4em; vertical-align: middle;  }

.navbar .nav,
.navbar .nav > li {
    height: 4em;
    float:none;
    display:inline-block;
    *display:table-cell; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

#avatar {
    height: 44px;
}
#signinButton {
    padding-top: 8px;
}

.navbar-inner {
    padding-top: 1em;
    text-align:center; vertical-align: middle;
}

.navbar{
    width: 80%;
    margin: 0 auto;

}​